<% provide(:title, 'About Us') %>
<div class="centered">
  <h1>About Us</h1>
  <h3>We are a cool team</h3>

<div class="row">
  <div class="span4">
    <a href="http://www.aderama.com">
  <p><img src="/team/adrian.jpg" /></p>
  <p>Adrian Sameli</p>
  </a>
</div>

<div class="span4">
  <a href="http://www.alexpawlak.com">
  <p><img src="/team/alex.jpg" /></p>
  <p>Alex Pawlak</p>
  </a>
</div>

<div class="span4">
  <a href="http://www.asonxu.org">
  <p><img src="/team/jason.jpg" /></p>
  <p>Jason Xu</p>
  </a>
</div>
</div>
  <a href="mailto:adrian@aderama.com" class="btn btn-primary btn-large">Join us now!</a>
</div>
