<% provide(:title, 'About Us') %>
<div class="centered">
  <h1>About Us</h1>
  <h3>We are a cool team</h3>
  <p>Adrian Sameli</p>
  <p>Alex Pawlak</p>
  <p>Jason Xu</p>
  <a href="mailto:adrian@aderama.com" class="btn btn-primary btn-large">Join us now!</a>
</div>
