<div class="page">

<div class="container inner-page">
    <div class="row centered">
    <img src="/logo.png" /><br />
    <h1>TravelFriends</h1>
    <h3>fast help anywhere and anytime</h3>
    <p>The best solution to take care of </br>all the annoying things when travelling.</p>
    <br />
    <br />
  </div>
  <div class="row centered">
    <div class="span4 private">
      <a href="#private" class="btn">
        <img src="/img/female1-128.png" /><br />
        for <h3>Travel Buddies</h3>
        <p>...</p>
        <span href="#buy" class="btn">read more</span>
      </a>
    </div>

    <div class="span4 agent">
      <a href="#agent" class="btn">
        <img src="/img/supportfemale-128.png" /><br />
        for <h3>Travel Agents</h3>
        <p>...</p>
        <span href="#buy" class="btn">read more</span>
      </a>
    </div>

    <div class="span4 business">
      <a href="#business" class="btn">
        <img src="/img/malecostume-128.png" /><br />
        for <h3>Corporate Business</h3>
        <p>...</p>
        <span href="#buy" class="btn">read more</span>
      </a>
    </div>

</div>
</div>
</div>

<div class="page business" id="business">

  <div class="container inner-page">
  <h1>For Corporate Business</h1>
  <h3 class="centered">Ask us anything to supercharge your trip! <br />We will find the best answer in the next 10 minutes !</h3>
  <br />
  <img src="/start/business.png" class="sketch" />
  <div class="row centered">
    <div class="span6">
      <h3>Business Trip</h3>
      <p>Can you find an hotel with a swimming pool, around, now?</p>
    </div>
    <div class="span6">
      <h3>Professional Assistant</h3>
      <p>Here 24/7 for you.</p>
    </div>
  </div>
  <a href="#buy" class="btn buy">compare plans</a>
</div>
</div>

<div class="page agent" id="agent">
  <div class="container inner-page">
  <h1>For Travel Agents</h1>
  <h3 class="centered">Become even more efficient and<br /> don’t loose time in stressful situations.</h3>
  <img src="/start/agent.png" class="sketch" />
  <div class="row centered">
    <div class="span6">
      <h3>Your customers</h3>
      <p>They have multiple needs.</p>
    </div>
    <div class="span6">
      <h3>Your business</h3>
      <p>I’m looking at where you are. Go left for 200 feets, then...</p>
    </div>
  </div>
  <a href="#buy" class="btn buy">compare plans</a>
</div>
</div>

<div class="page private" id="private">

  <div class="container inner-page">
  <h1>For Travel Buddies</h1>
  <h3 class="centered">Help an elder or a child by yourself.</h3>
  <img src="/start/free.png" class="sketch" />
  <div class="row centered">
    <div class="span6">
      <h3>She needs my support</h3>
      <p>Your grandmother need to know where to find the bus</p>
    </div>
    <div class="span6">
      <h3>I just want to help</h3>
      <p>I’m looking at where you are. Go left for 200 feets, then...</p>
    </div>
  </div>
  <a href="#buy" class="btn buy">compare plans</a>
</div>
</div>



<div class="page buy" id="buy">

  <div class="container inner-page">
  <h1>Choose your plan</h1>
  <div class="row centered">
    <div class="span4 private">
      <a href="/signup" class="btn">
        <img src="/img/female1-128.png" /><br />
        <h3>free forever</h3>
        <h5>for Travel Buddies</h5>
        <p>...</p>
        <span class="btn">start now</span>
      </a>
    </div>

    <div class="span4 agent">
      <a href="/signup" class="btn">
        <img src="/img/supportfemale-128.png" /><br />
        <h3>$50 / month</h3>
        <h5>for Travel Agents</h5>
        <p>...</p>
        <span class="btn">start now</span>
      </a>
    </div>

    <div class="span4 business">
      <a href="/signup" class="btn">
        <img src="/img/malecostume-128.png" /><br />
        <h3>$250 / month</h3>
        <h5>for Corporate Business</h5>
        <p>...</p>
        <span class="btn">start now</span>
      </a>
    </div>
  </div>
</div>
</div>
