
<div class="navbar action-bar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#"><img src="/action/fly.png" /><span>Fly</span></a></li>
      <li><a href="#"><img src="/action/drive.png" /><span>Drive</span></a></li>
      <li><a href="#"><img src="/action/sleep.png" /><span>Sleep</span></a></li>
      <li><a href="#"><img src="/action/eat.png" /><span>Eat</span></a></li>
      <li><a href="#"><img src="/action/navigate.png" /><span>Navigate</span></a></li>
      <li><a href="#"><img src="/action/sightseeing.png" /><span>Discover</span></a></li>
      <li><a href="#"><img src="/action/pay.png" /><span>Pay</span></a></li>
    </ul>
</div>
</div>
