<% provide(:title, 'All travel plans') %>
<h1>All travel plans</h1>

  <table class="table table-striped">
    <thead>
      <th>Travel Plan</th>
      <th>Travel Guide</th>
      <th>Customer</th>
      <th>Status</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <%= render @travel_plans %>
    </tbody>
  </table>
  <%= link_to "New Travel Plan", new_travel_plan_path(), class: 'btn btn-primary' %>
