

<% provide(:title, @travel_plan.title) %>
<div class="row">
  <%= render 'sidebar' %>
  <div class="span8">
    <%= render 'navbar' %>

    <h3>Navigate smoothly through all traffic</h3>
    <img src="/maps/traffic.png" />
  </div>
  </div>
</div>
