

<% provide(:title, @travel_plan.title) %>
<div class="row">
  <%= render 'sidebar' %>
  <div class="span8">
    <%= render 'navbar' %>

    <div class="centered"><br />
      <img src="/action/pay.png" />
      <h3>Find the best shop for your customer:</h3>
    </div>
    <img src="/maps/facility.png" />
  </div>
  </div>
</div>
