<% provide(:title, @travel_plan.title) %>
<div class="row">
  <%= render 'sidebar' %>
  <div class="span8">
    <%= render 'navbar' %>

    <h1>Welcome to your Travel Plan</h1>
Info from expedia: <br>
  </div>
</div>
