<% provide(:title, 'All users') %>
<div class="container">
<h1>All registered Guides</h1>

<table class="table table-striped">
  <thead>
    <th>Travel Guide</th>
    <th>Registration</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
</div>
