<a href="<%= user_path(current_user) %>">
  <img src="/img/supportmale-128.png" width="48" align="left" hspace="16" />
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
