<% provide(:title, 'All customers') %>
<h1>All customers</h1>



<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>First Contact</th>
      <th>Last Contact</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <%= render @customers %>
    </tbody>
  </table>
</div>

<%= link_to "New Customer", new_customer_path(), class: 'btn btn-primary' %>
