<% provide(:title, @customer.first_name) %>
<div class="row">
  <%= render 'sidebar' %>
  <div class="span8">

      <% if @customer.travel_plans.any? %>
        <h3>This Customer has <%= @customer.travel_plans.count %> travel plans</h3>
        <div class="container">
          <table class="table table-striped">
            <thead>
              <th>Travel Plan</th>
              <th>Dates</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <% @customer.travel_plans.each do |travel_plan| %>
                <%= render :partial => "customers/travel_plans", :locals => { :travel_plan => travel_plan } %>
              <% end %>
            </tbody>
          </table>
        </div>

        <% else %>
          <p>No travel plans available.</p>
        <% end %>

  </div>
</div>
