<html>
<head>
  <meta charset="UTF-8">
  <title>The Vacation Thread</title>
  <script src=".../ringcentral-bundle.js" type="text/javascript"></script>
  <script src=".../ringcentral-web-phone.js" type="text/javascript"></script>
</head>
<body>
  <%= @post.content %>
</body>
</html>