<% provide(:title, 'All customers') %>
<h1>All customers</h1>



<div class="container">
  <table class="table table-striped">
    <thead>
      <th>#</th>
    </thead>
    <tbody>
      <%= render @customers %>
    </tbody>
  </table>
</div>

<button type="button" class="btn btn-primary">create new</button>
